name: Push Updates

on:
  workflow_dispatch:

jobs:
  main:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        ref: master

    - name: Setup Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Dockerhub Login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Github CR Login
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: nthnv.me CR Login
      uses: docker/login-action@v1
      with:
        registry: cr.nthnv.me
        username: ${{ secrets.NTHNVCR_USERNAME }}
        password: ${{ secrets.NTHNVCR_PASSWORD }}

    - name: Run Builder Script
      run: python3 builder.py
      env:
        DOCKER_BUILDKIT: 1
        COMPOSE_DOCKER_CLI_BUILD: 1

